<!--copyright.html文件中包括：
    1. sidebar 侧边导航栏
    2. header 顶栏
    3. overlay (侧边栏收起箭头)
    4. back to top 返回开头按钮
    5. footer 底栏
    6. switcher 页面效果更改
    注意：其他页面引用该页面中的组件，需要在对应页面引用该页面所需的静态资源！！-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Title</title>
</head>
<body>
    <!--sidebar wrapper -->
    <div th:fragment="copy_sideBar" class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div>
                <img th:src="@{/images/logo-icon.png}" class="logo-icon" alt="logo icon">
            </div>
            <div>
                <h4 class="logo-text">Spider Car</h4>
            </div>
            <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
            </div>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
            <li>
                <a th:href="@{/index.html}">
                    <div class="parent-icon"><i class='bx bx-home-circle'></i>
                    </div>
                    <div class="menu-title">主 页</div>
                </a>
            </li>


            <li class="menu-label">二手车信息</li>


            <li>
                <a th:href="@{/carList}">
                    <div class="parent-icon"><i class="bx bx-grid-alt"></i>
                    </div>
                    <div class="menu-title">信息列表</div>
                </a>
            </li>


            <li class="menu-label">分析图表</li>

            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="bx bx-line-chart"></i>
                    </div>
                    <div class="menu-title">图表</div>
                </a>
                <ul>
                    <li> <a th:href="@{table_Datatable}"><i class="bx bx-right-arrow-alt"></i>数据图表</a>
                    </li>
                </ul>
            </li>

            <li class="menu-label">图表</li>

            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="bx bx-line-chart"></i>
                    </div>
                    <div class="menu-title">Charts</div>
                </a>
                <ul>
                    <li> <a th:href="@{Chart1}"><i class="bx bx-right-arrow-alt"></i>Chart1</a>
                    </li>
                    <li> <a th:href="@{Chart2}"><i class="bx bx-right-arrow-alt"></i>Chart2</a>
                    </li>
                    <li> <a th:href="@{Chart3}"><i class="bx bx-right-arrow-alt"></i>Chart3</a>
                    </li>
                </ul>
            </li>

        </ul>
        <!--end navigation-->
    </div>
    <!--end sidebar wrapper -->

    <!--start header -->
    <header th:fragment="copy_header">
        <div class="topbar d-flex align-items-center">
            <nav class="navbar navbar-expand">
                <div class="mobile-toggle-menu"><i class='bx bx-menu'></i></div>

                <div class="search-bar flex-grow-1">
                    <div class="position-relative search-bar-box">
                        <input type="text" class="form-control search-control" placeholder="Type to search..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>
                        <span class="position-absolute top-50 search-close translate-middle-y"><i class='bx bx-x'></i></span>
                    </div>
                </div>

                <div class="top-menu ms-auto">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item mobile-search-icon">
                            <a class="nav-link" th:href="@{#}">	<i class='bx bx-search'></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown dropdown-large">
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="header-notifications-list">
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown dropdown-large">
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="header-message-list">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="user-box dropdown">
                    <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" th:href="@{#}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="${session.loginUser.getUserPhoto()}" class="user-img">
                        <div class="user-info ps-3">
                            <p class="user-name mb-0">[[${session.loginUser.getUsername()}]]</p>
                            <p class="designattion mb-0">[[${session.loginRole}]]</p>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" th:href="@{userProfile}"><i class="bx bx-user"></i><span class="songStyle">个人主页</span></a>
                        </li>
                        <li><a class="dropdown-item" href="javascript:;"><i class="bx bx-star"></i><span class="songStyle">我的收藏</span></a>
                        </li>
                        <li><a class="dropdown-item" href="javascript:;"><i class='bx bx-home-circle'></i><span class="songStyle">Dashboard</span></a>
                        </li>
                        <li><a class="dropdown-item" href="javascript:;"><i class='bx bx-dollar-circle'></i><span class="songStyle">Earnings</span></a>
                        </li>
                        <li><a class="dropdown-item" href="javascript:;"><i class='bx bx-download'></i><span class="songStyle">Downloads</span></a>
                        </li>
                        <li>
                            <div class="dropdown-divider mb-0"></div>
                        </li>
                        <li><a class="dropdown-item" th:href="@{/user/logout}"><i class='bx bx-log-out-circle'></i><span>退出登录</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--end header -->

    <!--start overlay-->
    <div th:fragment="copy_overlay" class="overlay toggle-icon"></div>
    <!--end overlay-->

    <!--Start Back To Top Button-->
    <a th:fragment="copy_back" href="javascript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->

    <!--start footer -->
    <footer th:fragment="copy_footer" class="page-footer">
        <p class="mb-0">Copyright © 2022. All right reserved.</p>
    </footer>
    <!--end footer -->

    <!--start switcher-->
    <div th:fragment="copy_switcher" class="switcher-wrapper">
        <div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
        </div>
        <div class="switcher-body">
            <div class="d-flex align-items-center">
                <h4 class="mb-0 text-uppercase">主题自定义</h4>
                <button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
            </div>
            <hr/>
            <h5 class="mb-0">主题颜色</h5>
            <hr/>
            <div class="d-flex align-items-center justify-content-between">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode" checked>
                    <label class="form-check-label" for="lightmode">浅色</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="darkmode">
                    <label class="form-check-label" for="darkmode">深色</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="semidark">
                    <label class="form-check-label" for="semidark">半暗</label>
                </div>
            </div>
            <hr/>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="minimaltheme" name="flexRadioDefault">
                <label class="form-check-label" for="minimaltheme">简约主题</label>
            </div>
            <hr/>
            <h5 class="mb-0">顶栏颜色</h5>
            <hr/>
            <div class="header-colors-indigators">
                <div class="row row-cols-auto g-3">
                    <div class="col">
                        <div class="indigator headercolor1" id="headercolor1"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor2" id="headercolor2"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor3" id="headercolor3"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor4" id="headercolor4"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor5" id="headercolor5"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor6" id="headercolor6"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor7" id="headercolor7"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor8" id="headercolor8"></div>
                    </div>
                </div>
            </div>
            <hr/>
            <h5 class="mb-0">侧边栏颜色</h5>
            <hr/>
            <div class="header-colors-indigators">
                <div class="row row-cols-auto g-3">
                    <div class="col">
                        <div class="indigator sidebarcolor1" id="sidebarcolor1"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor2" id="sidebarcolor2"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor3" id="sidebarcolor3"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor4" id="sidebarcolor4"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor5" id="sidebarcolor5"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor6" id="sidebarcolor6"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor7" id="sidebarcolor7"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor8" id="sidebarcolor8"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end switcher-->

</body>
</html>