<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" th:href="@{/images/favicon-32x32.png}" type="image/png" />
	<!--plugins-->
	<link th:href="@{/plugins/simplebar/css/simplebar.css}" rel="stylesheet" />
	<link th:href="@{/plugins/perfect-scrollbar/css/perfect-scrollbar.css}" rel="stylesheet" />
	<link th:href="@{/plugins/metismenu/css/metisMenu.min.css}" rel="stylesheet" />
	<!-- loader-->
	<link th:href="@{/css/pace.min.css}" rel="stylesheet" />
	<script src="/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link th:href="@{/css/app.css}" rel="stylesheet">
	<link th:href="@{/css/icons.css}" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" th:href="@{/css/dark-theme.css}" />
	<link rel="stylesheet" th:href="@{/css/semi-dark.css}" />
	<link rel="stylesheet" th:href="@{/css/header-colors.css}" />
	<title>Rocker - Bootstrap 5 Admin Dashboard Template</title>
</head>

<body>
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		<div th:insert="~{layout/copyright :: copy_sideBar}"></div>
		<!--end sidebar wrapper -->

		<!--start header -->
		<div th:insert="~{layout/copyright :: copy_header}"></div>
		<!--end header -->

		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Charts</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Apex Charts</li>
							</ol>
						</nav>
					</div>
					<!--<div class="ms-auto">-->
					<!--	<div class="btn-group">-->
					<!--		<button type="button" class="btn btn-primary">Settings</button>-->
					<!--		<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>-->
					<!--		</button>-->
					<!--		<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>-->
					<!--			<a class="dropdown-item" href="javascript:;">Another action</a>-->
					<!--			<a class="dropdown-item" href="javascript:;">Something else here</a>-->
					<!--			<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>-->
					<!--		</div>-->
					<!--	</div>-->
					<!--</div>-->
				</div>
				<!--end breadcrumb-->
				<div class="row">
					<div class="col-xl-9 mx-auto">
						<h6 class="mb-0 text-uppercase">Column Chart</h6>
						<hr/>
						<div class="card">
							<div class="card-body">
								<div id="chart4"></div>
							</div>
						</div>
						<h6 class="mb-0 text-uppercase">Line Chart</h6>
						<hr/>
						<div class="card">
							<div class="card-body">
								<div id="chart1"></div>
							</div>
						</div>
						<h6 class="mb-0 text-uppercase">Multi-Line Chart</h6>
						<hr/>
						<div class="card">
							<div class="card-body">
								<div id="chart2"></div>
							</div>
						</div>
						<h6 class="mb-0 text-uppercase">Area Chart</h6>
						<hr/>
						<div class="card">
							<div class="card-body">
								<div id="chart3"></div>
							</div>
						</div>
						<h6 class="mb-0 text-uppercase">Vertical Column Chart</h6>
						<hr/>
						<div class="card">
							<div class="card-body">
								<div id="chart5"></div>
							</div>
						</div>
						<h6 class="mb-0 text-uppercase">Column & Line Chart</h6>
						<hr/>
						<div class="card">
							<div class="card-body">
								<div id="chart6"></div>
							</div>
						</div>
						<h6 class="mb-0 text-uppercase">Mix Chart</h6>
						<hr/>
						<div class="card">
							<div class="card-body">
								<div id="chart7"></div>
							</div>
						</div>
						<h6 class="mb-0 text-uppercase">Pie Chart</h6>
						<hr/>
						<div class="card">
							<div class="card-body">
								<div id="chart8"></div>
							</div>
						</div>
						<h6 class="mb-0 text-uppercase">Donught Chart</h6>
						<hr/>
						<div class="card">
							<div class="card-body">
								<div id="chart9"></div>
							</div>
						</div>
						<h6 class="mb-0 text-uppercase">Radar Chart</h6>
						<hr/>
						<div class="card">
							<div class="card-body">
								<div id="chart10"></div>
							</div>
						</div>
						<h6 class="mb-0 text-uppercase">Polygon Chart</h6>
						<hr/>
						<div class="card">
							<div class="card-body">
								<div id="chart11"></div>
							</div>
						</div>
						<h6 class="mb-0 text-uppercase">Radial Bar Chart</h6>
						<hr/>
						<div class="card">
							<div class="card-body">
								<div id="chart12"></div>
							</div>
						</div>
						<h6 class="mb-0 text-uppercase">Multi Radial Bar Chart</h6>
						<hr/>
						<div class="card">
							<div class="card-body">
								<div id="chart13"></div>
							</div>
						</div>
					</div>
				</div>
				<!--end row-->
			</div>
		</div>
		<!--end page wrapper -->

		<!--start overlay-->
		<div th:insert="~{layout/copyright :: copy_overlay}"></div>
		<!--end overlay-->

		<!--Start Back To Top Button-->
		<div th:insert="~{layout/copyright :: copy_back}"></div>
		<!--End Back To Top Button-->

		<!--start footer -->
		<div th:insert="~{layout/copyright :: copy_footer}"></div>
		<!--end footer -->
	</div>
	<!--end wrapper-->

	<!--start switcher-->
	<div th:insert="~{layout/copyright :: copy_switcher}"></div>
	<!--end switcher-->

	<!-- Bootstrap JS -->
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<!--plugins-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/plugins/simplebar/js/simplebar.min.js}"></script>
	<script th:src="@{/plugins/metismenu/js/metisMenu.min.js}"></script>
	<script th:src="@{/plugins/perfect-scrollbar/js/perfect-scrollbar.js}"></script>
	<script th:src="@{/plugins/apexcharts-bundle/js/apexcharts.min.js}"></script>
	<script th:src="@{/plugins/apexcharts-bundle/js/apex-custom.js}"></script>
	<!--app JS-->
	<script th:src="@{/js/app.js}"></script>
</body>

</html>