<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Echarts</title>
  <script th:src="@{/js/echarts.min.js}"></script>
</head>
<body>
    <!-- 准备一个容器放置图表 -->
    <div th:id="demo1" style="width: 600px; height: 400px;"></div>

    <!--使用JavaScript绘制图表-->
    <script>
        // 初始化绘制图表的echarts实例
        var myChart = echarts.init(document.querySelector('#demo1'))

        // 指定图表的配置
        var option = {
            title:{
                text:"这是一个echarts的Demo"
            },
            tooltip:{}, //提示框
            legend:{
                data:['人数']
            },
            xAxis:{
                data: ['vue','react','angular','jquery']
            },
            yAxis:{},
            series:[
                {
                    name:"人数",
                    type:"bar",
                    data:[2000,1500,500,2200]
                }
            ]
        }
        //对实例对象设置配置
        myChart.setOption(option)
    </script>
</body>
</html>