<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" th:href="@{/images/favicon-32x32.png}" type="image/png" />
	<!--plugins-->
	<link th:href="@{/plugins/simplebar/css/simplebar.css}" rel="stylesheet" />
	<link th:href="@{/plugins/perfect-scrollbar/css/perfect-scrollbar.css}" rel="stylesheet" />
	<link th:href="@{/plugins/metismenu/css/metisMenu.min.css}" rel="stylesheet" />
	<!-- loader-->
	<link th:href="@{/css/pace.min.css}" rel="stylesheet" />
	<script th:src="@{/js/pace.min.js}"></script>
	<!-- Bootstrap CSS -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link th:href="@{/css/app.css}" rel="stylesheet">
	<link th:href="@{/css/icons.css}" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" th:href="@{/css/dark-theme.css}" />
	<link rel="stylesheet" th:href="@{/css/semi-dark.css}" />
	<link rel="stylesheet" th:href="@{/css/header-colors.css}" />
	<title>二手车详细页</title>
</head>

<body>
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		<div th:insert="~{layout/copyright :: copy_sideBar}"></div>
		<!--end sidebar wrapper -->

		<!--start header -->
		<div th:insert="~{layout/copyright :: copy_header}"></div>
		<!--end header -->

		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">

				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">二手车信息</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item">
									<a th:href="@{/carList}"><i class="bx bx-home-alt"></i></a>/
									<a th:href="@{/user/myStore}"><i class="bx bx-star"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">详细信息</li>
							</ol>
						</nav>
					</div>
				</div>
				<!--end breadcrumb-->

				<div class="card">
					<div class="row g-0">
						<div class="col-md-4 border-end">
							<img th:src="${session.carDetail.getCarPhoto()}" class="img-fluid" alt="...">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h4 class="card-title">[[${session.carDetail.getTitle()}]]</h4>

								<div class="mb-3 display_flex">
									<span class="price h4">参考价：</span>
									<h3 style="color: #f88d00">[[${session.carDetail.getCarPrice()}]] </h3>
									<span class="price h4">万元</span>
								</div>
								<dl class="row">
									<dt class="col-sm-3">车辆品牌</dt>
									<dd class="col-sm-9">[[${session.carDetail.getCarBrand()}]]</dd>

									<dt class="col-sm-3">子品牌</dt>
									<dd class="col-sm-9">[[${session.carDetail.getCarType()}]]</dd>

									<dt class="col-sm-3">车辆表显里程</dt>
									<dd class="col-sm-9">[[${session.carDetail.getDisplayedMileage()}]]</dd>

									<dt class="col-sm-3">车辆上牌时间</dt>
									<dd class="col-sm-9">[[${session.carDetail.getLicensingTime()}]]</dd>
								</dl>
								<hr/>
								<div class="d-flex gap-3 mt-3">
									<a th:href="@{'/user/store?cid=' + ${session.carDetail.getCid()}}"
									   class="btn btn-primary">
										<li class="bx bx-star"></li>
										<span class="text"> 收藏</span></a>
									<a th:href="@{'/user/compare?cid=' + ${session.carDetail.getCid()}}"
									   class="btn btn-outline-primary"><span class="text">加入对比</span></a>
									<!--消息回显，如果msg消息不为空显示提示信息-->
									<p style="color: red" th:id="message" th:text="${msg}"></p>
								</div>
							</div>
						</div>
					</div>
					<hr/>
					<div class="card-body">
						<ul class="nav nav-tabs nav-primary mb-0" role="tablist">
							<li class="nav-item" role="presentation">
								<a class="nav-link active" data-bs-toggle="tab" href="#detailDescription" role="tab"
								   aria-selected="true">
									<div class="d-flex align-items-center">
										<div class="tab-icon"><i class='bx bx-comment-detail font-18 me-1'></i>
										</div>
										<div class="tab-title">车辆详细信息</div>
									</div>
								</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" data-bs-toggle="tab" href="#otherInfo" role="tab"
								   aria-selected="false">
									<div class="d-flex align-items-center">
										<div class="tab-icon"><i class='bx bx-bookmark-alt font-18 me-1'></i>
										</div>
										<div class="tab-title">其他信息</div>
									</div>
								</a>
							</li>
						</ul>
						<div class="tab-content pt-3">
							<div class="tab-pane fade show active" id="detailDescription" role="tabpanel">
								<dl class="row col-12">
									<div class="col-6">
										<div th:class="display_flex">
											<dt class="col-sm-3">车辆变速箱类型</dt>
											<dd class="col-sm-9">[[${session.carDetail.getTransmission()}]]</dd>
										</div>

										<div th:class="display_flex">
											<dt class="col-sm-3">车辆排放量</dt>
											<dd class="col-sm-9">[[${session.carDetail.getEmissions}]] 升</dd>
										</div>

										<div th:class="display_flex">
											<dt class="col-sm-3">排放标准</dt>
											<dd class="col-sm-9">[[${session.carDetail.getEmissionStandard()}]]</dd>
										</div>

										<div th:class="display_flex">
											<dt class="col-sm-3">车辆年检到期时间</dt>
											<dd class="col-sm-9">[[${session.carDetail.getAnnualTimeout()}]]</dd>
										</div>

										<div th:class="display_flex">
											<dt class="col-sm-3">车辆保险到期时间</dt>
											<dd class="col-sm-9">[[${session.carDetail.getInsuranceTimeout()}]]</dd>
										</div>

										<div th:class="display_flex">
											<dt class="col-sm-3">车辆过户次数</dt>
											<dd class="col-sm-9">[[${session.carDetail.getTransfersTimes()}]]</dd>
										</div>
									</div>

									<div class="col-6">
										<div th:class="display_flex">
											<dt class="col-sm-3">车辆所在地</dt>
											<dd class="col-sm-9">[[${session.carDetail.getCarLoc()}]]</dd>
										</div>

										<div th:class="display_flex">
											<dt class="col-sm-3">车辆级别</dt>
											<dd class="col-sm-9">[[${session.carDetail.getCarGrade()}]]</dd>
										</div>

										<div th:class="display_flex">
											<dt class="col-sm-3">车辆发动机</dt>
											<dd class="col-sm-9">[[${session.carDetail.getCarEngine()}]]</dd>
										</div>

										<div th:class="display_flex">
											<dt class="col-sm-3">车辆颜色</dt>
											<dd class="col-sm-9">[[${session.carDetail.getCarColor()}]]</dd>
										</div>

										<div th:class="display_flex">
											<dt class="col-sm-3">燃油标号</dt>
											<dd class="col-sm-9">[[${session.carDetail.getFuelType()}]]</dd>
										</div>

										<div th:class="display_flex">
											<dt class="col-sm-3">驱动方式</dt>
											<dd class="col-sm-9">[[${session.carDetail.getPowerType()}]]</dd>
										</div>
									</div>

								</dl>
							</div>
							<div class="tab-pane fade" id="otherInfo" role="tabpanel">
								<dl class="row col-12">
									<div th:class="col-6">
										<div th:class="display_flex">
											<dt class="col-sm-3">二手车网站</dt>
											<dd class="col-sm-9">[[${session.carDetail.getCarWebsite}]]</dd>
										</div>
									</div>

									<div th:class="col-6">
										<div th:class="display_flex">
											<dt class="col-sm-3">二手车信息发布时间</dt>
											<dd class="col-sm-9">[[${session.carDetail.getReleaseTime}]]</dd>
										</div>
									</div>
								</dl>
							</div>
						</div>
					</div>

				</div>

				<h6 class="text-uppercase mb-0">为您推荐</h6>
				<hr/>

				<div class="row row-cols-1 row-cols-lg-3">
					<ul th:each="car : ${session.recommend}">
						<li>
							<div class="col">
								<div class="card">
									<a style="color: #8a8a8c" class="row g-0"
									   th:href="@{'/user/carDetailInfo?cid=' + ${car.getCid()}}">
										<div class="col-md-5">
											<img th:src="${car.getCarPhoto()}" class="img-fluid" alt="...">
										</div>
										<div class="col-md-7">
											<div class="card-body">
												<h6 style="font-family: 宋体,serif" class="card-title">
													[[${car.getTitle()}]]</h6>
												<small>[[${car.getCarGrade()}]] | [[${car.getPowerType()}]] |
													[[${car.getTransmission()}]]</small>
												<div class="clearfix">
													<p class="mb-0 float-start fw-bold"><span style="color: #d9810d">[[${car.getCarPrice()}]] </span><span
															style="color:#1acaff;">万元</span></p>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--end page wrapper -->

		<!--start overlay-->
		<div th:insert="~{layout/copyright :: copy_overlay}"></div>
		<!--end overlay-->

		<!--Start Back To Top Button-->
		<div th:insert="~{layout/copyright :: copy_back}"></div>
		<!--End Back To Top Button-->

		<!--start footer -->
		<div th:insert="~{layout/copyright :: copy_footer}"></div>
		<!--end footer -->
	</div>
	<!--end wrapper-->

	<!--start switcher-->
	<div th:insert="~{layout/copyright :: copy_switcher}"></div>
	<!--end switcher-->

	<!-- Bootstrap JS -->
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<!--plugins-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/plugins/simplebar/js/simplebar.min.js}"></script>
	<script th:src="@{/plugins/metismenu/js/metisMenu.min.js}"></script>
	<script th:src="@{/plugins/perfect-scrollbar/js/perfect-scrollbar.js}"></script>
	<!--app JS-->
	<script th:src="@{/js/app.js}"></script>
</body>

</html>