<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" th:href="@{/images/favicon-32x32.png}" type="image/png" />
	<!--plugins-->
	<link th:href="@{/plugins/simplebar/css/simplebar.css}" rel="stylesheet" />
	<link th:href="@{/plugins/perfect-scrollbar/css/perfect-scrollbar.css}" rel="stylesheet" />
	<link th:href="@{/plugins/metismenu/css/metisMenu.min.css}" rel="stylesheet" />
	<!-- loader-->
	<link th:href="@{/css/pace.min.css}" rel="stylesheet" />
	<script th:src="@{/js/pace.min.js}"></script>
	<!-- Bootstrap CSS -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link th:href="@{/css/app.css}" rel="stylesheet">
	<link th:href="@{/css/icons.css}" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" th:href="@{/css/dark-theme.css}" />
	<link rel="stylesheet" th:href="@{/css/semi-dark.css}" />
	<link rel="stylesheet" th:href="@{/css/header-colors.css}" />
	<title>车辆展示页</title>
</head>

<body>
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		<div th:insert="~{layout/copyright :: copy_sideBar}"></div>
		<!--end sidebar wrapper -->

		<!--start header -->
		<div th:insert="~{layout/copyright :: copy_header}"></div>
		<!--end header -->

		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">

				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="row align-items-center">
									<div class="col-lg-3 col-xl-2">
										<a href="ecommerce-add-new-products.html" class="btn btn-primary mb-3 mb-lg-0"><i class='bx bxs-plus-square'></i>New Product</a>
									</div>
									<div class="col-lg-9 col-xl-10">
										<form class="float-lg-end">
											<div class="row row-cols-lg-auto g-2">
												<div class="col-12">
													<div class="position-relative">
														<input type="text" class="form-control ps-5" placeholder="Search Product..."> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
													</div>
												</div>
												<div class="col-12">
													<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
														<button type="button" class="btn btn-white">Sort By</button>
														<div class="btn-group" role="group">
															<button id="btnGroupDrop1" type="button" class="btn btn-white dropdown-toggle dropdown-toggle-nocaret px-1" data-bs-toggle="dropdown" aria-expanded="false">
																<i class='bx bx-chevron-down'></i>
															</button>
															<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
																<li><a class="dropdown-item" href="#">Dropdown link</a></li>
																<li><a class="dropdown-item" href="#">Dropdown link</a></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col-12">
													<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
														<button type="button" class="btn btn-white">Collection Type</button>
														<div class="btn-group" role="group">
															<button id="btnGroupDrop2" type="button" class="btn btn-white dropdown-toggle dropdown-toggle-nocaret px-1" data-bs-toggle="dropdown" aria-expanded="false">
																<i class='bx bxs-category'></i>
															</button>
															<ul class="dropdown-menu" aria-labelledby="btnGroupDrop2">
																<li><a class="dropdown-item" href="#">Dropdown link</a></li>
																<li><a class="dropdown-item" href="#">Dropdown link</a></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col-12">
													<div class="btn-group" role="group">
														<button type="button" class="btn btn-white">Price Range</button>
														<div class="btn-group" role="group">
															<button id="btnGroupDrop3" type="button" class="btn btn-white dropdown-toggle dropdown-toggle-nocaret px-1" data-bs-toggle="dropdown" aria-expanded="false">
																<i class='bx bx-slider'></i>
															</button>
															<ul class="dropdown-menu dropdown-menu-start" aria-labelledby="btnGroupDrop3">
																<li><a class="dropdown-item" href="#">Dropdown link</a></li>
																<li><a class="dropdown-item" href="#">Dropdown link</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 product-grid">
					<div class="col">
						<div class="card">
							<img src="/images/products/01.png" class="card-img-top" alt="...">
							<div class="">
								<div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
							</div>
							<div class="card-body">
								<h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
								<div class="clearfix">
									<p class="mb-0 float-start"><strong>134</strong> Sales</p>
									<p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
								</div>
								<div class="d-flex align-items-center mt-3 fs-6">
									<div class="cursor-pointer">
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-secondary'></i>
									</div>
									<p class="mb-0 ms-auto">4.2(182)</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card">
							<img src="/images/products/02.png" class="card-img-top" alt="...">
							<div class="">
								<div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
							</div>
							<div class="card-body">
								<h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
								<div class="clearfix">
									<p class="mb-0 float-start"><strong>134</strong> Sales</p>
									<p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
								</div>
								<div class="d-flex align-items-center mt-3 fs-6">
									<div class="cursor-pointer">
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-secondary'></i>
									</div>
									<p class="mb-0 ms-auto">4.2(182)</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card">
							<img src="/images/products/03.png" class="card-img-top" alt="...">
							<div class="">
								<div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
							</div>
							<div class="card-body">
								<h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
								<div class="clearfix">
									<p class="mb-0 float-start"><strong>134</strong> Sales</p>
									<p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
								</div>
								<div class="d-flex align-items-center mt-3 fs-6">
									<div class="cursor-pointer">
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-secondary'></i>
									</div>
									<p class="mb-0 ms-auto">4.2(182)</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card">
							<img src="/images/products/04.png" class="card-img-top" alt="...">
							<div class="">
								<div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
							</div>
							<div class="card-body">
								<h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
								<div class="clearfix">
									<p class="mb-0 float-start"><strong>134</strong> Sales</p>
									<p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
								</div>
								<div class="d-flex align-items-center mt-3 fs-6">
									<div class="cursor-pointer">
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-secondary'></i>
									</div>
									<p class="mb-0 ms-auto">4.2(182)</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card">
							<img src="/images/products/05.png" class="card-img-top" alt="...">
							<div class="">
								<div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
							</div>
							<div class="card-body">
								<h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
								<div class="clearfix">
									<p class="mb-0 float-start"><strong>134</strong> Sales</p>
									<p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
								</div>
								<div class="d-flex align-items-center mt-3 fs-6">
									<div class="cursor-pointer">
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-secondary'></i>
									</div>
									<p class="mb-0 ms-auto">4.2(182)</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card">
							<img src="/images/products/06.png" class="card-img-top" alt="...">
							<div class="">
								<div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
							</div>
							<div class="card-body">
								<h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
								<div class="clearfix">
									<p class="mb-0 float-start"><strong>134</strong> Sales</p>
									<p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
								</div>
								<div class="d-flex align-items-center mt-3 fs-6">
									<div class="cursor-pointer">
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-secondary'></i>
									</div>
									<p class="mb-0 ms-auto">4.2(182)</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card">
							<img src="/images/products/07.png" class="card-img-top" alt="...">
							<div class="">
								<div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
							</div>
							<div class="card-body">
								<h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
								<div class="clearfix">
									<p class="mb-0 float-start"><strong>134</strong> Sales</p>
									<p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
								</div>
								<div class="d-flex align-items-center mt-3 fs-6">
									<div class="cursor-pointer">
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-secondary'></i>
									</div>
									<p class="mb-0 ms-auto">4.2(182)</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card">
							<img src="/images/products/08.png" class="card-img-top" alt="...">
							<div class="">
								<div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
							</div>
							<div class="card-body">
								<h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
								<div class="clearfix">
									<p class="mb-0 float-start"><strong>134</strong> Sales</p>
									<p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
								</div>
								<div class="d-flex align-items-center mt-3 fs-6">
									<div class="cursor-pointer">
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-secondary'></i>
									</div>
									<p class="mb-0 ms-auto">4.2(182)</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card">
							<img src="/images/products/09.png" class="card-img-top" alt="...">
							<div class="">
								<div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
							</div>
							<div class="card-body">
								<h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
								<div class="clearfix">
									<p class="mb-0 float-start"><strong>134</strong> Sales</p>
									<p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
								</div>
								<div class="d-flex align-items-center mt-3 fs-6">
									<div class="cursor-pointer">
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-secondary'></i>
									</div>
									<p class="mb-0 ms-auto">4.2(182)</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card">
							<img src="/images/products/10.png" class="card-img-top" alt="...">
							<div class="">
								<div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
							</div>
							<div class="card-body">
								<h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
								<div class="clearfix">
									<p class="mb-0 float-start"><strong>134</strong> Sales</p>
									<p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
								</div>
								<div class="d-flex align-items-center mt-3 fs-6">
									<div class="cursor-pointer">
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-warning'></i>
										<i class='bx bxs-star text-secondary'></i>
									</div>
									<p class="mb-0 ms-auto">4.2(182)</p>
								</div>
							</div>
						</div>
					</div>
				</div><!--end row-->


			</div>
		</div>
		<!--end page wrapper -->

		<!--start overlay-->
		<div th:insert="~{layout/copyright :: copy_overlay}"></div>
		<!--end overlay-->

		<!--Start Back To Top Button-->
		<div th:insert="~{layout/copyright :: copy_back}"></div>
		<!--End Back To Top Button-->

		<!--start footer -->
		<div th:insert="~{layout/copyright :: copy_footer}"></div>
		<!--end footer -->
	</div>
	<!--end wrapper-->

	<!--start switcher-->
	<div th:insert="~{layout/copyright :: copy_switcher}"></div>
	<!--end switcher-->

	<!-- Bootstrap JS -->
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<!--plugins-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/plugins/simplebar/js/simplebar.min.js}"></script>
	<script th:src="@{/plugins/metismenu/js/metisMenu.min.js}"></script>
	<script th:src="@{/plugins/perfect-scrollbar/js/perfect-scrollbar.js}"></script>
	<!--app JS-->
	<script th:src="@{/js/app.js}"></script>
</body>

</html>